<div class="container post">
  <h3>NOT IN USE ANYMORE</h3>


  <div class="row">
    <div class="col-md-8">
    <img class="img-responsive" src="http://unsplash.it/1200/600" alt="">

      <span class="pull-left">
        <h3>
      <span class="glyphicon glyphicon-heart-empty" aria-hidden="true"></span>
        <%= Faker::Number.number(3) %>
      </h3>
      </span>
      <span class="pull-right">
      <h3><span class="glyphicon glyphicon-bookmark" aria-hidden="true"></span></h3>
      </span>
      <br>
      <div class="col-xs-12">
      </div>

      <h2><%= Faker::StarWars.planet %></h2>
      <p><%= Faker::Hipster.paragraph %></p>
      <h5><%= Faker::Name.name %></h5>
      <h5><%= Faker::Date.between(2.days.ago, Date.today) %></h5>
      </div>
      <div class="col-md-4 most-liked hidden-sm hidden-xs">
        <h1>Most Liked</h1>
        <p><%= Faker::Hipster.paragraph %></p>
      </div>
  </div>
</div>

<div class="container posts">




<% 2.times do %>
  <div class="row">
    <% 3.times do %>
  <div class="container col-md-4">
  <img class="img-responsive" src="http://unsplash.it/1200/600" alt="">
    <span class="pull-left">
      <h3>
    <span class="glyphicon glyphicon-heart-empty" aria-hidden="true"></span>
      <%= Faker::Number.number(3) %>
    </h3>
    </span>
    <span class="pull-right">
    <h3><span class="glyphicon glyphicon-bookmark" aria-hidden="true"></span></h3>
    </span>
    <br>
    <div class="col-xs-12">
    </div>

    <h2><%= Faker::StarWars.planet %></h2>
    <p><%= Faker::Hipster.paragraph %></p>
    <h5><%= Faker::Name.name %></h5>
    <h5><%= Faker::Date.between(2.days.ago, Date.today) %></h5>
    </div>
    <% end %>
  </div>
<% end %>

</div>
<div class="col-xs-12 more hidden-xs">
  <h1>More Articles</h1>
</div>
