<div class="container">
    <h1>
        <%= @post.title %>
    </h1>

</div>
<img src="http://unsplash.it/1300/700" alt="" class="img-responsive">

<div class="container">
    <hr>
    <%# 3.times do %>
    <p>
        <%= @post.body %></p>
    <%# end %>
    <hr class="hidden-md hidden-lg">

    <div class="row container hidden-md hidden-lg">
        <span class="pull-left">
            <h3>
                <span class="glyphicon glyphicon-heart-empty" aria-hidden="true"></span>
                <%= Faker::Number.number(3) %>
            </h3>
        </span>

        <span class="pull-right">
            <h3>
                <span class="glyphicon glyphicon-bookmark" aria-hidden="true"></span>
            </h3>
        </span>
    </div>



<div class="row">

        <div class="col-xs-6">
            <h4>
              <% @post.categories.each do |category| %>|<%= category.name %>|<% end %>
            </h4>
        </div>

        <div class="col-xs-4">
            <%= form_for [@post, @category] do |f| %>
            <div class="form-inline">
                <%= f.text_field :name, class: 'form-control input-small', placeholder: 'Add Category' %>

                <%= f.submit "Submit", class: 'btn btn-primary' %>
            </div>
        </div>

        <% end %>

        <div class="col-xs-2">
        <p class="pull-right">
            <%= Faker::Date.backward(14) %>
        </p>
  </div>
</div>
</div>

<div class="container">
    <div class="row"></div>

    <div class="row container">
      <div class="row container">
              <h4><%= Faker::Zelda.character %></h4>
      </div>
        <span class="col-lg-8 ">
            <ul class="media-list">
                <li class="media">
                    <div class="media-left">
                        <a href="#">
                            <img class="media-object" src="http://unsplash.it/200" alt="...">
                        </a>
                    </div>

                    <div class="media-body">
                        <h2 class="media-heading">Author Name</h2>
                        <p>
                            <%= Faker::Lorem.paragraph(5) %></p>
                    </div>

                </li>
            </ul>
        </span>
    </div>
  </div>

<%# for use with ajax  %>
<%# render 'comments/post_comments_view', post: @post, new_comment: @comment %>

<div id="posts_container" class="container">
    <div class="col-lg-8 col-lg-offset-2">
        <div class="row">
            <%= @comment.errors.full_messages.join(',') %>
            <h1>Leave a comment</h1>

            <%= form_for [@post, @comment] do |f| %>
            <div class="form-group">
                <%= f.label :body %>
                <%= f.text_area :body, class: 'form-control' %>
            </div>

            <div class="container col-xs-12">
                <%= f.submit "Submit", class: 'btn btn-default btn-primary pull-right' %>
            </div>
            <% end %>

            <%# <form action="submit"> <div class="form-group"> <!-- <label for="exampleTextarea">Example textarea</label> --> <textarea class="form-control" id="exampleTextarea" rows="3" name="comment" placeholder="Comment Here"></textarea> </div> <div
            class="form-group row"> <label for="example-text-input" class="col-xs-2 col-form-label">Character</label> <div class="col-xs-10"> <input class="form-control" type="text" placeholder="Comment Author Name" id="example-text-input"> </div> <hr> </div>
            </form> %>
        </div>
    </div>

    <hr>

    <% @post.comments.last_first.each do |comment| %>

    <div class="col-lg-8 col-lg-offset-2">
        <div class="row">
            <ul class="media-list">
                <li class="media">
                    <div class="media-left">
                        <a href="#">
                            <img class="media-object" src="http://unsplash.it/100" alt="...">
                        </a>
                    </div>
                    <div class="media-body">
                        <h2 class="media-heading"><%= Faker::Zelda.character %></h2>
                        <p>
                            <%= comment.body %>
                            <%= link_to 'delete', comment_path(comment), method: :delete, data:{ confirm: 'Are You Sure?'}  %></p>
                    </div>
                </li>
            </ul>
        </div>

        <div class="row">

            <span class="pull-left">
                <h3>
                    <%= Faker::Zelda.character %>
                </h3>
            </span>
            <span class="pull-right">
                <h4>
                    <%= comment.updated_at.to_date %></h4>
            </span>

        </div>
    </div>
    <% end  %>
</div>

<div class="col-xs-12 more">
    <h1>More Comments</h1>
</div>
