<div class="container">
  <h1> <%= @post.title %> </h1>



</div>
  <img src="http://unsplash.it/1300/700" alt="" class="img-responsive">

  <div class="container">
  <hr>
  <% 3.times do %>
  <p> <%= @post.body %></p>
  <% end %>
  <span class="row">
  <p class="pull-right">
    <%= Faker::Date.backward(14) %>
  </p>
<hr class="hidden-md hidden-lg">
  <div class="row container hidden-md hidden-lg">
  <span class="pull-left">
    <h3>
  <span class="glyphicon glyphicon-heart-empty" aria-hidden="true"></span>
    <%= Faker::Number.number(3) %>
  </h3>
  </span>
  <span class="pull-right">
  <h3><span class="glyphicon glyphicon-bookmark" aria-hidden="true"></span></h3>
  </span>
  </div>
<span class="pull-left">
  <h4><%= Faker::Zelda.character %></h4>
</span>
<div class="row"></div>

  <div class="row container">


<span class="col-lg-8 ">
  <ul class="media-list">
  <li class="media">
    <div class="media-left">
      <a href="#">
        <img class="media-object" src="http://unsplash.it/200" alt="...">
      </a>
    </div>

    <div class="media-body">
      <h2 class="media-heading">Author Name</h2>
    <p> <%= Faker::Lorem.paragraph(5) %></p>
    </div>

  </li>
</ul>
</span>
</div>
</div>

<%= render 'comments/post_comments_view', post: @post, new_comment: @comment %>

<div class="col-xs-12 more">
  <h1>More Comments</h1>
</div>
